INDEX PAGE

body {
  padding-top: 10px;
}
[class*="col-"], footer {
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}
#main_area
{
	width: 100%;
	margin: auto;
}
#codingTextarea
{
	font-size: 20px;
}
